.container, .container-fluid {
    margin-left: 1em;
}

.btn-primary, .btn-danger {
    margin-top: 2em;
}

#log {
    margin-top: 20px;
    width: 500px;
    height: auto;
    min-height: 200px;
    background-color: #dedede;
    resize: none;
}
