<head>
    <title>Gestione utenti</title>
    <meta charset="utf-8">
    <link href="../base1/cockpit.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="../base1/jquery.js"></script>
    <script src="../base1/cockpit.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
  <div class="container-fluid" style='max-width: 400px'>
    <h1>Gestione utenti NethServer</h1>
    <div>
      <h2>Creazione utenti</h2>
      <label for="import_file">Seleziona un file CSV valido (nome utente, nome completo, password, gruppi separati da "/"):</label>
      <input type="file" id="import_file" name="import_file">
      <button class="btn btn-primary" onclick="importUsers()">Crea utenti</button>
    </div>
    <hr>
    <div>
      <h2>Eliminazione utenti</h2>
      <label for="delete_file">Seleziona un file CSV valido (un nome utente per riga):</label>
      <input type="file" id="delete_file" name="delete_file">
      <button class="btn btn-danger" onclick="deleteUsers()">Elimina utenti</button>
    </div>
    <hr>
    <h2>Log</h2>
    <textarea id="log" readonly></textarea>
  </div>
</body>
</html>

